{% extends 'base.html.twig' %}

{% block body %}
	<link rel="stylesheet" href="{{ asset('css/home.css') }}">
	<link
	rel="stylesheet" href="{{ asset('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css') }}">
	<!-- Main section -->
	<section class="mainGrey">

		<div id="main">
			<div id="left_main">
				<div id="suggest_stories"></div>
				<!-- thumbmail of post-->


				{% for publication in allPublications %}
					<div class="thumbmail mb-5">
						<div class="top_bar_stories">
							<div class="img_profil">
								{% if publication.avatar == default_avatar %}
									<img class="rounded_image" src="{{path_default_avatar}}/{{ default_avatar}} " alt="photo_de_profil">
								{% else %}
									<img class="rounded_image" src="avatar/{{ publication.user_id }}/{{ publication.avatar}}" alt="photo_de_profil">
								{% endif %}
								<div class="name_profil">
									{{ publication.pseudo }}
								</div>
							</div>
							<div class="open_modal">
								<i class="fas fa-circle"></i>
							</div>
						</div>
						<div class="main_image_stories">
							<img src="{{path_publication}}/{{ publication.user_id}}/{{ publication.id }}/{{ publication.image}}" alt="main_image">
						</div>
						<div
							class="bottom_stories">
							<!-- ICON STORIES-->
							<div class="icon_stories">
								<div class="icon_fontawesome">
								<!-- fas == full--> 
								<!-- far == empty -->
								{% if publication.isLikedByUser is not null %}
									<i class="fas fa-heart" onclick="addLikeToPubli({{publication.id}})" id="heart{{publication.id}}"></i>
								{% else %}
									<i class="far fa-heart" onclick="addLikeToPubli({{publication.id}})" id="heart{{publication.id}}"></i>
								{% endif %}
									<i class="far fa-comment"></i>
									<i class="far fa-envelope"></i>
								</div>
								<div class="share_fontawesome">
									<i class="far fa-bookmark"></i>
								</div>
							</div>
							<div class="comment_section">
								<div class="comment">
									<span class="d-flex">
										<div id="nbrLike{{publication.id}}" class="mr-2">{{ publication.nbr_like }} </div>
										j'aime

									<span>
								</div>
								<div>
									<span class="bold">{{ publication.pseudo}}
									</span>
									{{ publication.contenu}}
								</div>
								<span class="fontColorGreyLight pointer" onclick="getComment({{publication.id}})">
									Voir les
									{{ publication.NbrComment }}
									commentaires
								</span>
								<div class="add_comment_stories">

									<form class="comment_post">
										<input type="text" class="texareaInsta" placeholder="Ajouter un commentaire ..." id="commentPublication{{ publication.id }}"></input>
									<span class="post_comment" onclick="postComment({{ publication.id }})">Publier</span>
								</form>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
			<!-- End of  thumbmail of post-->
		</div>


		<div
			id="main_profil">
			<!-- TOP -->
			<div id="top_profil_home" class="d-flex justify-content-between">
				<img class="rounded-circle" src="image/all/photo_profil.jpg" alt="photo_de_profil">
				<div id="name_profil_home">
					<div class="police1">
						Yongo987162756
					</div>
					<div class="police2">
						{{ app.user.pseudo }}
					</div>
				</div>
				<div id="basculer_profil_home" class="GoBlue">
					basculer
				</div>
			</div>
			<!-- Center -->
			<div id="center_profil_home" class="mt-4">
				<div class="d-flex justify-content-between pb-1 div321 padding16">
					<div class="suggestion_profil_home">Suggestion pour vous</div>
					<div class="police3">Voir tout</div>
				</div>


				{% for suggestion in suggestions %}
				<div class="d-flex justify-content-between mb-4 paddingProfil div321 padding16">
					<div>
						{% if suggestion.avatar == default_avatar %}
							<img class="rounded_photo_profil" src="{{path_default_avatar}}/{{ default_avatar}} " alt="photo_de_profil">
						{% else %}
							<img class="rounded_photo_profil" src="avatar/{{ suggestion.user_id }}/{{ suggestion.avatar}}" alt="photo_de_profil">
						{% endif %}
					</div>
					<div class="pseudo_profil_home">
						<div class="police1 pointer">
							{{suggestion.pseudo}}
						</div>
						<div class="police2">
							Vous suit
						</div>
					</div>
					<div class="GoBlue" onclick="abonnement({{suggestion.id}})">S'abonner</div>
				</div>
				{% endfor %}
			</div>
			<!-- Bottom -->
			<div id="bottom_profil_home">
				<p>
					À propos . Aide . Presse . API . Emplois . Confidentialité. Conditions . LieuxComptes . principaux . Hashtags . Langue</p>
				<p class="copyright">© 2021 Instagram par Facebook</p>
			</div>

		</div>
	</div>
</div></section></div></body></html>{% endblock %}
