{% extends 'base.html.twig' %}

{% block body %}
	<link rel="stylesheet" href="/css/chat.css">

	<div class="wrapper width_chat">
		<div class="container">
			<div class="left">
				<div class="top">
					<input type="text" placeholder="Search"/>
					<a href="javascript:;" class="search"></a>
				</div>
				<ul class="people">
					{% for person in conversation %}
						{% if app.user.id == person.id_user_issuer %}
							{% set personToShow = person.id_user_receiver %}
							{% set avatarToShow = person.avatar_user_receiver %}
							{% set pseudoToShow = person.pseudo_user_receiver %}
						{% else %}
							{% set personToShow = person.id_user_issuer %}
							{% set avatarToShow = person.avatar_user_issuer %}
							{% set pseudoToShow = person.pseudo_user_issuer %}
						{% endif %}
						<li class="person" data-chat="{{person.conversation_id}}">
							<img src="{{path_default_avatar}}/{{default_avatar}}" alt=""/>
							<span class="name">
								{{pseudoToShow}}
							</span>
							<span class="time">
								{{person.created_at}}
							</span>
							<span class="preview">
								{{person.contenue}}
							</span>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="right">
				<div class="top">
					<span>
						To:
						<span class="name" id="name">
					
						</span>
					</span>
				</div>
				<div class="chat active-chat" data-chat="">
					<div id="conversation_start">
					</div>
					<div id="conversation_fil">

					</div>
				</div>

				<div class="write">
					<a href="javascript:;" class="write-link attach"></a>
					<input type="text"/>
					<a href="javascript:;" class="write-link smiley"></a>
					<a href="javascript:;" class="write-link send"></a>
				</div>
			</div>
		</div>
	</div>

	<script defer type="text/javascript" src="/js/chat.js"></script>


{% endblock %}
