<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
  				{% if title is not null %} {{title}} {% else %} Instagram {% endif %}
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/commun.css') }}">
			<link rel="stylesheet" href="{{ asset('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css') }}">
			<link rel="stylesheet" type="text/css" href="{{ asset('font/SF-Font-Pro.dmg') }}">
			<link rel="stylesheet" type="text/css" href="{{ asset('font/Segoe UI.woff') }}">
			<link rel="stylesheet" type="text/css" href="{{ asset('css/uploadFiles.css')}}">
		{% endblock %}
	</head>
	
{% if app.user %}
	<!-- Main navbar-->
	<header>
		<div id="navbar_top">
			<div id="main_nav" class="">
				<div id="left_nav">
					<a href="{{path('home')}}">
						<img src="/image/header/instagram.png">
					</a>
				</div>
				<div id="search_bar">
					<i class="fas fa-search"></i>
					<span id="main_search">Rechercher</span>
				</div>
				<div id="right_nav">
					<i class="far fa-plus-square" data-toggle="modal" data-target="#createPublication"></i>
					<a href="{{path('home')}}">
						<i class="fa fa-home"></i>
					</a>
					<i class="far fa-envelope"></i>
					<i class="far fa-compass"></i>
					<i class="far fa-heart"></i>
					<img class="rounded_photo_profil" onclick="openMenu('popup_profil')" src="/image/all/photo_profil.jpg" alt="photo_de_profil">
				</div>
				<!-- Menu barre header -->
				<div id="popup_profil" class="d-none">
					<a href="{{path('profil', {'id': app.user.id})}}">
						<i class="far fa-user-circle"></i>Profil</a>
					<a href="">
						<i class="far fa-bookmark"></i>Enregistré</a>
					<a href="">
						<i class="fas fa-circle-notch"></i>Paramètres</a>
					<a href="">
						<i class="fas fa-sync-alt"></i>Changer de compte</a>
					<div class="separateur_menu"></div>
					<a href="{{path('app_logout')}}">Déconnexion</a>
				</div>
			</div>
		</div>
	</header>
{% endif %}
	<body
		class="fontColorBlack greyBackground">
		<!-- Modal Bootstrap -->
		<div class="modal fade text-center" id="createPublication" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Ajout d'une publication</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div
						class="modal-body">
						<!-- enctype="multipart/form-data" action="{{ path('post_publication') }}" -->

						<div id="upload_photo">
							<label style="">Ajoutez des photos</label>
							<div style="display:flex; flex-wrap: wrap; justify-content: space-evenly;">
								{% for i in 0..2 %}
									<div class="con-input-file" id="">
										<span onclick="handleClickRemove(event)" class="remove-image">
											<i class='bx bx-x'></i>
										</span>
										<div class="con-bg">
											<img class="bg" id="{{ i }}" src="" alt="">
										</div>
										<div class="img-1">
											<i class="fas fa-camera-retro" style="font-size:56px"></i>
										</div>
										<div class="img-2">
											<div class="square-1"></div>
										</div>
										<div class="img-3">
											<div class="square-2"></div>
										</div>
										<div class="con-text">
											Ajoutez une photo !
										</div>
										<input class="input" onchange="processFile(event)" ondrop="dropHandler(event)" ondragover="dragOverHandler(event)" ondragleave="dragLeave(event)" ondragenter="dragEnter(event)" ondragenter="dragEnter(event)" type="file" name="add_files_{{ i }}" id="files_{{ i }}">
									</div>
								{% endfor %}
							</div>
							<div style="display:flex; flex-wrap: wrap; justify-content: space-evenly;"></div>
						</div>
						<div class="form-group col-6 margin-auto">
							<label for="password">Description de la publication</label>
							<input type="text" name="describ" class="form-control" id="contenue_publication"/>
						</div>
						<button class="btn btn-primary" onclick="addPublication()"/>
						Publier !
					</button>

				</div>
			</div>
		</div>
	</body>

</div>
{% block body %}{% endblock %}
</body>
<!-- Bottom -->
{% block javascripts %}
	{# <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> #}
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<script defer src="fontawesome/js/brands.js"></script>
	<script defer src="fontawesome/js/solid.js"></script>
	<script defer src="fontawesome/js/fontawesome.js"></script>
	<script defer src="fontawesome/js/all.min.js"></script>
	<script defer src="js/commun.js"></script>
	<script defer src="js/uploadFile.js"></script>
	<script defer src="js/home.js"></script>
{% endblock %}
</html>
